.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cselect{
  width: 380px;
  height: 50px;
  font-size: 30px;
  text-align: center;
}
.nav{
  background-color: rgb(46, 45, 190, 0.8);
  height: 80px;
  width: 100vw;
  color: white;
  font-size:45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin:15px;

}
.box{
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.header{
  background-color: orange;
  
  height: 50%;

  color: white;

}

.bottom{
  height: 50%;
  /* width: 100; */
  border: 2px solid orange;
}


@media (max-width: 768px) {

  .cselect{
    width: 90vw;
    height: 50px;
    font-size: 25px;
    text-align: center;
    justify-content: center;
  }
  .nav{
    background-color: rgb(46, 45, 190, 0.8);
    height: 90px;
    width: 100vw;
    color: white;
    font-size:25px;
  }
  .row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  .box{
    width: 40vw;
    height: 120px;
  }
  .header{
    background-color: orange;
    height: 50%;
    color: white;
  }
  .bottom{
    height: 50%;
  }
  .chart{
    margin-top: 65px;
  }
}